<div class="bg-success">
  <div class=row>
    <div class=col-2 style="padding-top:10px; padding-left:20px">
      <a routerLink="/Login">Back</a>
    </div>
    <div class=col>
      <legend style="color:white">Manager Dashboard</legend>
    </div>
  </div>
  <iframe width="375px" height="667px" frameborder="0" margin="0px" src="https://app.ubidots.com/ubi/public/getdashboard/NM6gXzA9o0h95TVJvaSjoO2YpGA"></iframe>
 <legend>List of cleaners</legend>
  <div class=card style="padding:10px">
   <label>Cleaner: Khye Chun</label>
  <button class="btn btn-dark" style="width:100px;" (click)=onSubmit()>Send to resolve</button>
 </div>